<div class="row">
  <div class="col text-center">
    <img class="ahorcado-img" src="assets/img/{{intentos}}.png" alt="">
    
    <p><em><h3>Intentos <small>{{intentos}}/9</small></h3></em></p>
  </div>
   
</div>


<div class="row">
  <div class="col text-center">
    <h1>{{palabraOculta}}</h1>
  </div>
</div>

<div class="row" *ngIf="gano">
  <div class="col text-center">
    <h1>¡Felicidades Ganaste!</h1>
    <h4> :D </h4> 
  </div>
</div>

<div class="row" *ngIf="perdio">
  <div class="col text-center">
    <h1>¡Lo siento Perdiste!</h1>
    <h4>{{palabra}}</h4>
  </div>
</div>
  
<div class="row" *ngIf="!perdio && !gano">
    <div class="col text-center">
      <button (click)="comprobar(letra)" *ngFor="let letra of letras" class="btn btn-primary">{{letra}}</button>
      
    </div>
    </div>