/* You can add global styles to this file, and also import other style files */
.ahorcado-img{
height: 400px;

}

button{

    margin-top:5px;
    margin-left: 5px;
    
}
.btn-primary {
        background: rgb(0, 0, 0);
        color: rgb(218, 214, 214);
      }
      
      .btn-primary:hover {
        background: #fff;
        color: #000;
      }
